:root{
    --icon-size:25px
}

@font-face {
    font-family: 'MyriadPro-SemiboldCondIt';
    src: url('/font/MyriadPro-SemiboldCondIt-11.otf');
}

@font-face {
    font-family: 'MyriadPro-SemiboldSemiCnIt';
    src: url('/font/MyriadPro-SemiboldSemiCnIt-8.otf');
}

@font-face {
    font-family: 'MyriadPro-SemiCnIt';
    src: url('/font/MyriadPro-SemiCnIt-4.otf');
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/font/MyriadPro-Regular-14.otf');
}

.panel-fragment{
    display: block;
    z-index: 99;
}

.options{
    transition: all .5s;
    transform: translateX(-275px); 
}

#panel-fragment .fragments-top {
	width: 250px;
	height: 20px;
    background-color: var(--gray4);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    display: flex;
    cursor:move;
}

#panel-fragment .fragments-top .text {
    width: 100px;
	height: 20px;
    margin:0 auto;
    font-size: 16px;
    /* background-color: var(--gray13); */
    line-height:20px;  /*设置文字行高， 可被高度整除*/
    word-wrap:break-word; 
    text-align: center;
    z-index: 999;
    /* border-radius: 0 0 10px 10px; */
    /* border-bottom: 2px solid var(--gray13); */
    /* box-shadow: 0px 1px 3px rgba(0,0,0,0.2); */
    user-select:none;
}

.fragment-view-content .nav-tool-container-right{
    margin-right: 0;
    margin-left: auto;
    display: flex;
}


.fragments-wrapper{
    float: left;
    width: 100%;
    height: 100%;
}

#operation_panel{
    user-select: none;
}

#time_input{
    position: absolute;
    width: 80px;
    height: 30px;
    border: 1px solid rgb(62, 177, 204);
    text-align: center;
    background: transparent;
    border-style: hidden;
    /* border: 5px 2px dashed; */
    border-radius: 5px;
    color: rgb(62, 177, 204);
    font-size: 13px;
    display: inline-block;
    outline: none;
    z-index: 99;
    font-family: 'MyriadPro-SemiboldSemiCnIt';
}

#place_input{
    position: absolute;
    width: 75px;
    height: 30px;
    border: 1px solid rgb(93, 219, 161);
    text-align: center;
    background: transparent;
    border-style: hidden;
    border-radius: 5px;
    color: rgb(93, 219, 161);
    outline: none;
    font-size: 13px;
    display: inline-block;
    z-index: 99;
    font-family: 'MyriadPro-SemiboldSemiCnIt';
}

#event_input{
    position: absolute;
    width: 75px;
    height: 26px;
    background: transparent;
    border-style: hidden;
    border-radius: 5px;
    color: rgb(16, 15, 15);
    outline: none;
    font-size: 10px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    overflow-y:scroll; 
    resize:none;
    z-index: 99;
    font-family: "MyriadPro-SemiCnIt";
}

#event_input::-webkit-scrollbar{
    display: none;
}

#event_img{
    position: absolute;
    width: 25px;
}

#bj_img{
    position: absolute;
    width: 25px;
    left: 116.5px;
    top: 450px;
}

#ok_img{
    position: absolute;
    width: 25px;
    left: 149.5px;
    top: 450px;
}

#click_img{
    position: absolute;
    width: 155px;
    height: 155px;
    z-index: 9999900;
}

.panel_tooltip {
    position: absolute;
    padding: 5px;
    text-align: left;
    font: 1px "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 10px;
    background: rgba(151, 146, 146, 0.87);
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 999;
}

.panel_tooltip hr {
    padding: 0;
    margin: 8px 0;
}

.circle{
    border-radius: 50%;
    position: absolute;
    z-index: 999999999;
}

/* .fragment-wrapper{
    float: left;
    width: calc(100% - 20px - 4px);
    height: 70px;
    margin: 10px 10px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
    background-color: #fff;
    color: #000000;
}

.fragment-wrapper-event{
    height: 110px;
}

.fragment-wrapper .fragment-img {
    width: 46px;
    height: 46px;
    padding: 5px;
    float: left;
    margin-top: 8px;
}

.fragment-wrapper .fragment-img-event {
    width: 46px;
    height: 46px;
    padding: 5px;
    float: left;
    margin-top: 30px;
}

.fragment-wrapper .fragment-img .svg-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 94%;
}

.fragment-text{
    float: left;
    width: calc(100% - 56px);
    font-size: 14px;
    text-align: center;
}

.fragment-separator{
    float: left;
    height: 0px;
    margin: 2px calc((100% - 56px - 70px )/ 2);
    width: 70px;
    border-top: 2px solid var(--gray13);
    z-index: 9999;
}

.fragment-content{
    width: 200px;
    float: left;
    color: var(--gray14);
    text-align: center;
    font-size: 14px;
	line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: none;
    border: none;
} */