.over-view-container{
    width: 100%;
    height: calc(100% - 30px);
}

.input-file{
    padding: 2px 10px;
    margin: 15px 0;
    width: calc(100% - 20px);
}

.upload-file{
    border-radius: 0.2rem !important;
}

.over-view-container .tool-btn {
    width: 20px;
    height: 20px;
    padding: 5px;
    display: inline-block;
}

.open-icon {
	width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: invert(70%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHRpdGxlPmljb25zPC90aXRsZT48cGF0aCBkPSJNMTAuNzEwNDUsMTMuNzVsLTUuNTM4NTgsMTJIMjEuNTkwOTNhLjc1Ljc1LDAsMCwwLC42ODEtLjQzNTdMMjcuNjA5MzgsMTMuNzVaIi8+PHBhdGggZD0iTTEwLjA3MDgsMTIuNzVIMjIuMzkwNjJWMTBhLjc1Ljc1LDAsMCwwLS43NS0uNzVoLTguMjV2LTFhMiwyLDAsMCwwLTItMmgtNWEyLDIsMCwwLDAtMiwyVjI1LjA1NzI1WiIvPjwvc3ZnPg==);
}

.statistics-panel-wrapper{
    display: block;
    overflow: hidden;
    margin: 15px 0;
}

.statistic-panel{
    width: 33%;
    overflow: hidden;
    float: left;
}

.statistic-num{
    font-weight: 600;
    font-size: 18px;
    height: fit-content;
    line-height: 20px;
    display: block;
    text-align: center;
}

.statistic-title{
    font-size: 14px;
    height: fit-content;
    display: block;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
}

/* old css */

.control-separator{
    display: block;
    height: 0px;
    margin: 2px 10px;
    width: calc(100% - 20px);
    border-top: 0.5px solid #A5A5A5;
    z-index: 9999;
}

.person-entity-wrapper{
    margin-top: 10px;
    width: 100%;
    height: 40%;
}

.place-entity-wrapper{
    width: 100%;
    height: 30%;
}

.event-entity-wrapper{
    width: 100%;
    height: 30%;
}

.entity-view-container .title{
    height:fit-content;
    width: fit-content;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin-left: 10px;
    color: #fff;
    display: inline-block;
    user-select: none;
}

.unchosen-person{
    background-color: #fff !important;
    border: 1px solid var(--person) !important;
    color: var(--person) !important;
    user-select: none;
}

.unchosen-place{
    background-color: #fff !important;
    border: 1px solid var(--place) !important;
    color: var(--place) !important;
    user-select: none;
}

.title-person{
    background-color: var(--person);
}
.title-place{
    background-color: var(--place);
}
.title-event{
    display: block !important;
    background-color: var(--event);
}

.entity-container{
    margin-top: 5px;
}

.entity{
    height:fit-content;
    width: fit-content;
    font-size: 0.875rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin:3px 0 3px 10px;
    color: #fff;
    float: left;
    user-select: none;
}

.entity-person-dict{
    background-color: var(--selected-entity-dict-bg);
}
.entity-person-nlp{
    background-color: var(--selected-entity-nlp-bg);
}
/* .entity-time{
    background-color: var(--selected-entity-dict-bg);
} */
.entity-place-dict{
    background-color: var(--selected-place-dict-bg);
}
.entity-place-nlp{
    background-color: var(--selected-place-nlp-bg);
}

.event-container{
    margin: 5px 10px;
    width: calc(100% - 20px);
    height: 90px;
    float: left;
    color: var(--gray14);
    font-size: 14px;
	line-height: 25px;
    text-overflow: ellipsis;
    overflow: scroll;
    box-shadow: none;
    border: none;
}

.event-container::-webkit-scrollbar{
    display: none;
}
