@charset "utf-8";
/* CSS Document */
:root{
	--nav-content-height: 20px;
    --widget-font-size: 11pt;
    --title-height: 26px;
    --geforce-font: "geforce";
    --mono-font: "mono";
    --gray1: #ffffff;
    --gray2: #f7f7f7;
    --gray3: #f2f2f2;
    --gray4: #ededed;
    --gray5: #e6e6e6;
    --gray6: #e2e2e2;
    --gray7: #dadada;
    --gray8: #d2d2d2;
    --gray9: #c2c2c2;
    --gray10: #a5a5a5;
    --gray11: #a3a3a3;
    --gray12: #939393;
    --gray13: #676767;
    --gray14: #484848;
    --gray15: #383838;
    --gray16: #000000;
    --highlight-blue: #2196f3;
    --highlight-orange: #ff9246;
    --selected-bg: #cbeaff;
    --selected-text-bg : #FFF6D0;
    --person : #DC6062;
    --time:#458BC5;
    --place:#B8D68C;
    --event:#F4C515;
}

*, *::after, *::before {
    box-sizing: content-box;
}

:focus-visible{
    outline: none;
}

img,svg {
    vertical-align: top;
}

body {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	overflow: hidden;
    line-height: 20px;  /* 文字行高 */
    margin: 0;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.nav {
    width: calc(100% - 12px);
	height: 30px;
	background-color: var(--gray3);
	position: relative;
	/* flex-direction: row; */
	z-index: 99999;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 6px 6px;
}

.nav-tool-container {
    float: left;
    display: flex;
}

.nav-tool-container-right{
    margin-right: 5px;
    margin-left: auto;
    display: flex;
}

.nav-tool-container .tool-separator {
    float: left;
    height: 16px;
    margin: 6px 2px;
    width: 0px;
    border-left: 1px solid var(--gray9);
}

.nav-tool-container .tool-btn {
    width: var(--nav-content-height);
    height: var(--nav-content-height);
    padding: 5px;
    margin: 0px 0;
    display: inline-block;
}

.nav-tool-container .tool-btn .svg-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 94%;
    filter: invert(70%);
}

.nav-tool-container .tool-btn .open-icon {
	width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: invert(70%);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHRpdGxlPmljb25zPC90aXRsZT48cGF0aCBkPSJNMTAuNzEwNDUsMTMuNzVsLTUuNTM4NTgsMTJIMjEuNTkwOTNhLjc1Ljc1LDAsMCwwLC42ODEtLjQzNTdMMjcuNjA5MzgsMTMuNzVaIi8+PHBhdGggZD0iTTEwLjA3MDgsMTIuNzVIMjIuMzkwNjJWMTBhLjc1Ljc1LDAsMCwwLS43NS0uNzVoLTguMjV2LTFhMiwyLDAsMCwwLTItMmgtNWEyLDIsMCwwLDAtMiwyVjI1LjA1NzI1WiIvPjwvc3ZnPg==);
}

.page-container {
    float: right;
}

.page-container .tool-btn {
    float: left;
    width: var(--nav-content-height);
    height: var(--nav-content-height);
    padding: 5px;
    margin: 0 2px;
}

.page-container .tool-text {
    float: left;
    width: 9px;
    padding: 5px 0;
    height: var(--nav-content-height);
    line-height:var(--nav-content-height);
    filter: invert(40%);
}

.page-container .tool-btn .svg-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 94%;
    filter: invert(70%);
}

.panel-wrapper {
	width: 100%;
	height: 100%;
}

.flex-panel-wrapper {
    display: flex;
}

.inner-wrapper {
    flex: 1;
}

.h-fix-panel {
    width: 300px;
}

.h-flex-panel {
    width: calc(100% - 0px);
}

.divider-h {
	width: 3px;
	height: 100%;
	background: var(--gray7);
}

.divider-w {
	height: 3px;
	width: 100%;
	background: var(--gray7);
	float: left;
}
.panel {
    background: var(--gray6);
    position: relative;
    float: left;
    z-index: 99;
}

.v-panel {
    max-height: calc(100% - 300px);
    min-height: 300px;
}

.view {
    width: 100%;
    height: 100%;
    background: var(--gray5);
}

.panel-left-top {
	height: calc(50% - 0.5px);
	width: 100%;
}

.panel-left-bottom {
	height: calc(50% - 0.5px);
	width: 100%;
}

.panel-right-top {
	height: calc(60%);
	width: 100%;
}

.panel-right-bottom {
	height: calc(40%);
	width: 100%;
}

.view-title-container {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: var(--title-height);
    padding-left: 10px;
    font-size: 11pt;
    font-weight: 600;
    line-height: var(--title-height);
    color: var(--gray14);
    background: var(--gray3);
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

.view-title-container .view-title-text {
    height: var(--title-height);
    line-height: var(--title-height);
    float: left;
    padding: 0 20px 0 0;
}

.view-content, .text-view-content, .fragment-view-content, .storyline-view-content{
    float: left;
    width: calc(100% - 12px);
    height: calc(100% - 8px);
}

.fragment-view-content{
    background: var(--gray1);
    height: calc(100% - 5px);
    border-radius: 0 0 5px 5px;
}

.text-view-content{
    background: var(--gray1);
    height: calc(100% - 5px);
    border-radius: 0 0 5px 5px;
    margin: 0 6px 0;
}

.storyline-view-content {
    background: var(--gray1);
    height: calc(100% - 9px);
    border-radius: 5px;
    margin: 3px 6px 6px;
    user-select: none;
}

#myCanvas{
	position:relative;
    margin: 10px 25px;
}

#text{
	position:absolute;
	width: 950px;
	height: 500px;
	overflow: hidden;
    line-height:25px;  /*设置文字行高， 可被高度整除*/
    white-space: pre-wrap;	/*设置文本换行*/
    word-wrap:break-word; 
    margin: 10px 25px;
}
#test0{
	position:absolute;
	width: 950px;
	height: 500px;
    opacity:0;
	overflow: hidden;
	line-height: 25px;  /*设置文字行高， 可被高度整除*/
    white-space: pre-wrap;
    word-wrap:break-word; 
    z-index: -1;
    margin: 10px 25px;
}

#text div{
	display: inline;
	margin: 3px 0 3px 0;
}
p{
	margin: auto;
}

.text-bg{
    background-color: var(--selected-text-bg);
}

.tooltip-inside {
    position: absolute;
    padding: 16px;
    text-align: left;
    font: 1px "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background: rgba(0, 0, 0, .87);
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 2;
}

.tooltip-inside hr {
    padding: 0;
    margin: 8px 0;
}

#float-panel-chosen{
    height: 100px;
    width: 250px;
    position: fixed;
    display: none;
    z-index: 99;
    border-radius: 5px;
}

#float-panel-chosen .text-wrapper {
	width: 250px;
	height: 35px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    color: #000000;
    display: flex;
    float: left;
}

#float-panel-chosen .text-wrapper .text {
    width: 250px;
	height: 25px;
    padding: 5px 10px;
	overflow: hidden;
    line-height:25px;  /*设置文字行高， 可被高度整除*/
    word-wrap:break-word; 
    z-index: 99999;
    box-shadow: none;
    border: none;
}

.elems-wrapper{
	width: 250px;
	height: 70px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    color: #000000;
    display: flex;
    float: left;
}

.elem-wrapper {
    margin-top: 10px;
    margin-left: 10px;
	width: 46px;
	height: 46px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
    background-color: #fff;
    color: #000000;
}

.border-person{
    border-color: #DC6062;
}

.border-person:hover{
    border-style: solid;
}

.border-time{
    border-color: #458BC5;
}

.border-time:hover{
    border-style: solid;
}

.border-place{
    border-color: #B8D68C;
}

.border-place:hover{
    border-style: solid;
}

.border-event{
    border-color: #F4C515;
}

.border-event:hover{
    border-style: solid;
}

.elem-wrapper .elem-img {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 2px auto 0;
    display: block;
}

.elem-wrapper .elem-img .svg-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 94%;
}

.elem-wrapper .elem-text {
    width: 46px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
    display: block;
}

.text-person{
    color: #DC6062;
}

.text-time{
    color: #458BC5;
}

.text-place{
    color: #B8D68C;
}

.text-event{
    color: #F4C515;
}

.float-panel-fragment{
    height: 350px;
    width: 250px;
    right: -260px;
    bottom: 25px;
    position: fixed;
    display: block;
    z-index: 99;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.options{
    transition: all .5s;
    transform: translateX(-275px); 
}

#float-panel-fragment .fragments-top {
	width: 250px;
	height: 20px;
    background-color: #fff;
    display: flex;
}

#float-panel-fragment .fragments-top .text {
    width: 100px;
	height: 20px;
    margin:0 auto;
    font-size: 16px;
    background-color: var(--gray6);
    line-height:20px;  /*设置文字行高， 可被高度整除*/
    word-wrap:break-word; 
    text-align: center;
    z-index: 999;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    cursor:move;
    user-select:none;
}

#float-panel-fragment .fragments-top .fragment-cancel{
    width: 20px;
	height: 20px;
    background-color: var(--person);
    border-radius: 5px 0 5px 0px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

#float-panel-fragment .fragments-top .fragment-confirm{
    width: 20px;
	height: 20px;
    background-color: var(--place);
    border-radius: 0 5px 0px 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    margin-right: 0;
}

.fragment-cancel .cancel-img {
    width: 20px;
    height: 20px;
}

.fragment-confirm .confirm-img {
    width: 20px;
    height: 20px;
}

.fragments-top .svg-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 94%;
}



.fragments-wrapper{
    float: left;
    width: 100%;
    height: 100%;
}

.fragment-wrapper{
    float: left;
    width: calc(100% - 20px - 4px);
    height: 56px;
    margin: 10px 10px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;    
    background-color: #fff;
    color: #000000;
}

.fragment-wrapper .fragment-img {
    width: 46px;
    height: 46px;
    padding: 5px;
    float: left;
}

.fragment-wrapper .fragment-img .svg-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 94%;
}

.fragment-text{
    float: left;
    width: calc(100% - 56px);
    font-size: 14px;
    text-align: center;
}

.fragment-separator{
    float: left;
    height: 0px;
    margin: 2px calc((100% - 56px - 70px )/ 2);
    width: 70px;
    border-top: 2px solid var(--gray13);
    z-index: 9999;
}

.fragment-content{
    float: left;
    color: var(--gray14);
    text-align: center;
    font-size: 14px;
	line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    box-shadow: none;
    border: none;
}

.tooltip {
    position: absolute;
    padding: 16px;
    text-align: left;
    font: 1px "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1px;
    background: rgba(0, 0, 0, .87);
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip hr {
    padding: 0;
    margin: 8px 0;
}

.WordCloud{
    background: rgba(253, 252, 252, 1);
    stroke: rgba(213, 20, 20, 0.87);
    stroke-width: 1px;
    width: 100px;
    height: 100px;
    position: fixed !important;
    border:1px solid rgb(7, 110, 212);
    z-index: 999;
}